<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345188576861-ahhi6u83gagsjbm4eflhrmn5u9o59tvd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345188576861-ahhi6u83gagsjbm4eflhrmn5u9o59tvd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>345188576861-bphtmhrehd0d1l9iivtok1tg1cppk4hv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDbTzGTkAwMGo6go51OmU-mnuYsWqArfD8</string>
	<key>GCM_SENDER_ID</key>
	<string>345188576861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.vdiarybook</string>
	<key>PROJECT_ID</key>
	<string>vtechmxh</string>
	<key>STORAGE_BUCKET</key>
	<string>vtechmxh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345188576861:ios:0f4d4266feb908480d67b4</string>
</dict>
</plist>